.about-me-wrapper {
  display: flex;
  flex-direction: row;
}

.avatar-contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biography-wrapper {
  max-width: 900px;
  padding-left: 100px;
}

.contact-info {
  padding-top: 32px;
  text-align: center;
}

.greetings {
  font-weight: bold;
}

@media only screen and (max-device-width: 768px) {
  .about-me-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .biography-wrapper {
    width: 95%;
    padding: 0;
  }
}